numpy==1.22.4
scikit-image
scikit-learn
opencv-contrib-python
scipy
pandas
tifffile
matplotlib
xgboost
joblib
pyyaml
ome-types
albumentations
pretrained-microscopy-models @ git+https://github.com/nasa/pretrained-microscopy-models
numba
csbdeep