numpy
scikit-image
scikit-learn
opencv-contrib-python
scipy
pandas
tifffile
matplotlib
xgboost
joblib
pyyaml
ome-types
aicsimageio
lxml
albumentations
pretrained-microscopy-models @ git+https://github.com/nasa/pretrained-microscopy-models
pytorch-lightning
csbdeep
pytorch_toolbelt
